// Colors

// SCSS Color Variables | Named with this: http://chir.ag/projects/name-that-color
// Color Palette: https://www.colourlovers.com/palette/3898849/RICK_AND_MORTY
$pampas: #f8f6f3;
$spicy-mix: #7d474b;
$pacific-blue: #02afc5;
$cream: #ffffcc;
$white: #ffffff;

// Theme CSS Color Variables
:root {
	--theme-text: #{$spicy-mix};
	--theme-background: #{$pampas};
}

// Theme SCSS Color Variables
$theme-text: var(--theme-text);
$theme-background: var(--theme-background);

// Backdrops
$backdrop-background-color: rgba(255,255,255,.5);
$dark-backdrop-background-color: rgba(0,0,0,.5);

// Header
$header-background-color: $cream;

// List tile
$list-tile-border-color: $pacific-blue;
$list-tile-background-color: $white;

// Loader
$loader-color: $pacific-blue;

// Button
$button-background-color: $pacific-blue;
$button-text-color: $white;
$button-border-color: $white;

// Modal
$modal-background-color: $white;
$modal-close-button-color: $pacific-blue;

// Filters
$filters-background-color: $pacific-blue;
$filters-dropdown-background-color: $cream;
$filters-dropdown-text-color: $theme-text;
$filters-border-color: $spicy-mix;
$filers-action-button-background-color: $white;
$filers-action-button-text-color: $theme-text;
