// SCSS Variables (except the color variables)

// General
$zindex: 2147483647;
$default-space: 15px;
$container-max-width: 1280px;
$default-border-radius: 30px;
$default-border-size: 3px;

// Header
$header-height: 90px;
$header-logo-height: #{$header-height - 2 * $default-space};

// List
$list-tile-image-size: 220px;

// Modal
$modal-head-height: 40px;
$modal-max-width: 400px;
