{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "no-use-before-define": ["error", { "functions": false }],
    "no-param-reassign": ["error", { "props": false }],
    "linebreak-style": 0,
    "global-require": 0,
    "no-debugger": 0
  }
}
