filters {
  display: flex;
  background-color: $filters-background-color;
  padding: #{$default-space / 2};
  border-radius: $default-border-radius;

  select {
    border: 0;
    outline: 0;
    background: $filters-dropdown-background-color;
    border-radius: $default-border-radius;
    margin-right: #{$default-space / 2};
    width: 90px;
    text-align-last: center;
    color: $filters-dropdown-text-color;
    font-size: .9rem;
  }

  button {
    padding: #{$default-space / 2};
    border: 0;
    outline: 0;
  }
}
