// List tiles container
list {
  display: grid;
  max-width: $container-max-width;
  grid-template-columns: 1fr;
  grid-gap: $default-space;
  margin: #{$header-height + 15px} auto $default-space auto;

  @media screen and (min-width: 767px) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

// List tile
.list-tile {
  cursor: pointer;
  text-align: center;
  border: $default-border-size solid $list-tile-border-color;
  padding: $default-space;
  border-radius: $default-border-radius;
  background: $list-tile-background-color;
  @include small-shadow();
}

.character-name {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 0 auto $default-space auto;
}

.character-info {
  font-size: .9rem;
  text-align: center;
  margin-bottom: $default-space;
}

.character-photo {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: $list-tile-image-size;
  height: $list-tile-image-size;
  object-fit: cover;
  margin-bottom: $default-space;
  @include regular-shadow();
}
