list {
  display: grid;
  max-width: 1280px;
  grid-template-columns: 1fr;
  grid-gap: $default-space;
  margin: 135px auto $default-space auto;

  @media screen and (min-width: 767px) {
    & {
      grid-template-columns: 1fr 1fr;
      margin-top: 90px;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
