.modal {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  .modal-content {
    max-width: 600px;
    width: 100%;
    height: 600px;
    background: #000000;
    border-radius: 25px;
    padding: 15px;
    position: absolute;
    z-index: 999;
  }
  .modal-background{
    width: 100%;
    height: 100vh;
    background: #8e7dd1;
    position: absolute;
    opacity: 0.8;
    z-index: 888
  }
  .modal-content .close {
    font-size: 1rem;
    font-size: 3rem;
    position: absolute;
    right: 0;
    margin: 23px;
    width: 38px;
    height: 50px;
    cursor: pointer;
  }
}


