$theme-color: #11b0c8;
$background-color: #282c34;
$background-color-light: #f7f5fa;

$theme-lightest: #fbfcfd;
$orange: #FF531F;
$green: #78BF79;
$black: #000000;
$red: #F04242;
$gray-light: #E9EDF2;
$gray: #BABEC5;
$gray-dark: #8B9198;
$gray-darker: #656A72;




$colors: (
  black: $black,
  gray: $gray,
  red: $red,
  orange: $orange,
  green: $green,
);
