@import '~styles/colors';

body.ReactModal__Body--open {
  overflow: hidden;
}

.Modal__Overlay {
  background-color: rgba($background-color,.1);
  flex-direction: column;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.ReactModal__Content {
  position: absolute;
  z-index: 100;
  left: 50%;
  margin: 0 auto;
  top: 20%;
  width: 65%;
  max-width: 1000px;
  transform: translate(-50%);
  background: white;
}

.CharacterDetailModal {
    box-shadow: 1px 1px 10px rgba(0,0,0,.05);

    @media only screen and (max-width: 768px) {
      width: 80%;
    }
}
