// Header

.app-header {
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: $header-height;
  width: 100%;
  background: $theme-background;
  padding: $default-space;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.app-logo {
  height: $header-logo-height;
}
