// Header

.app-header {
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: $header-height;
  width: 100%;
  background: $header-background-color;
  padding: $default-space;
  @include small-shadow();
}

.app-logo {
  height: $header-logo-height;
}
